:root {
    font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.1vw, 22px);
    font-stretch: semi-expanded;
    color: #ffffff;
    background: rgb(88,75,156);
    background: linear-gradient(90deg, rgba(88,75,156,1) 0%, rgba(81,73,132,1) 25%, rgba(81,73,132,1) 93%);
    text-align: center;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin: 30px;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.9px;
}

header {
    width: 100%;
}
#logo {
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 80px;
    height: 80px;
}

#logo span {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 400;
    color: white;
}

#image-canvas{
    display: block;
    background-color: white;
    object-fit: contain;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#canvas-container {
    position: relative;
    width: 100%;
}

#image-canvas, #palette-container, #camera {
    width: 100%;
    box-sizing: border-box;
}

#camera {
    display: none;
    object-fit: cover;
    border-radius: 10px;
}

#take-photo-btn {
    display: none;
}

#explanatory-text {
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px;
    text-align: justify;
}

.image-drop-zone {
    border: 3px dashed  #efe9ff;
    min-height: 150px;
    max-height: 300px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.image-drop-zone.drag-over,
.image-drop-zone:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50px;
}

.image-upload-button {
    display: inline-flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    gap: 5px;
}
.image-upload-button:hover {
    cursor: pointer;
    color: #dcd3e3;
}

#image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#number-of-colors {
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    background: linear-gradient(145deg, #3a3360, #252042);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.generate-palette-text {
    width: 90%;
    margin: 10px;
    text-align: justify;
}

#number-of-colors:focus{
    background: linear-gradient(145deg, #413a70, #29204a);
    outline: none;
}

#generate-palette-btn {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #be5dce;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}
#generate-palette-btn:hover {
    box-shadow: 0 0 8px rgb(51, 51, 51);
    background: rgb(191,93,205);
    background: linear-gradient(107deg, rgba(191,93,205,1) 0%, rgba(191,93,205,1) 31%, rgb(171, 90, 198) 93%);
    cursor: pointer;
}
#palette-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    gap: 5px;
}


.palette-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.color-display {
    width: 100px;
    box-sizing: border-box;
    height: 70px;
    transition: transform 0.3s ease;
}


.color-display:hover,
#add-symbol:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.hex-value {
    font-size: 1rem;
    padding: 3px;
    color: #48454e;
}

.hex-value:hover {
    cursor: pointer;
}

.extend-colors-container {
    width: 100%;
}

.p-on-white {
    color: #48454e;
    text-align: justify;
    width: 60%;
}

.add-color {
    display: inline-flex;
    align-items: center;
}

#add-symbol {
    color: #48454e;
    background: #f7f2fa;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.add-color-text {
    color:black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 30px;
}

.h2-on-white {
    color: black;
}

.extend-colors-body {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.color-picker {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-picker-container {
    position: absolute;
    top: 30%;
    display: flex;
    visibility: hidden;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    background: #f1ecf4;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(255, 255, 255, 0.1);
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
}

.color-picker-button {
    background: transparent;
    border: none;
    padding: 5px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #5d3748;
}

.color-picker-button:hover {
    cursor: pointer;
    background: #e1dee4;
    border-radius: 20px;
}

#snackbar {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 250px;
    max-width: 400px;
    background: #e5deff;
    color: #1b1149;
    text-align: center;
    padding: 20px;
    border-radius: 0 10px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    gap: 15px;
}

#generate-container {
    justify-content: flex-start;
}

#navbar {
    display:none;
}



/*
Animations for snackbar taken from https://www.w3schools.com/howto/howto_js_snackbar.asp
 */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 1500px) {
    #app {
        width: 90%;
    }
}

@media (max-width: 900px) {

    .extend-colors-body {
        flex-direction: column;
    }

    .p-on-white {
        width: 100%;
    }
}

@media (max-height: 1000px) {
    .color-display {
        width: 80px;
        height: 40px;
    }
    .hex-value {
        font-size: 0.9rem;
    }
}

@media (max-width: 700px) {

    #navbar {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid  #efe9ff;
        width: 100%;
    }

    .navbar-btn {
        background: transparent;
        width: 50%;
        border: none;
        color: white;
        font-size: 1rem;
        padding: 10px;
        opacity: 0.8;
    }

    .navbar-btn.selected {
        background: #473f75;
        border-bottom: 2px solid #fdfdfd;
        opacity: 1;
        font-weight: bold;
    }

    .navbar-btn:hover {
        background: #473f75;
        cursor: pointer;
    }

    .section {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
    }

    .section.active {
        display: flex;
    }

    #image-area-container, #generate-container, #image-upload-container, #palette-container {
        width: 100%;
        box-sizing: border-box;
    }

    #logo span {
        font-size: 30px;
    }

    .color-display {
        width: 50px;
        height: 25px;
    }

    .palette {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
}

@media (max-width: 500px) {
    #logo span {
        display: none;
    }
}




