:root {
    font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #3c3a3a;
    background: rgba(209, 203, 175, 0.75);
    text-align: center;
}

body {
    margin: 0;
    height: 100%;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.9px;
}

#logo {
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 80px;
    height: 80px;
}

#logo span {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 400;
}

#image-zone-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 10px;
}

#upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin-left: 15%;
    gap: 15px;
}

#image-canvas{
    display: block;
    width: 35%;

    object-fit: cover;
    margin-right: 15%;
    border: 3px solid #3c3a3a;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#camera {
    display: none;
    width: 35%;
    object-fit: cover;
    margin-right: 15%;
}

#take-photo-btn {
    display: none;
}

#explanatory-text {
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    text-align: justify;
}

.image-drop-zone {
    border: 3px dashed #3c3a3a;
    min-height: 150px;
    max-height: 300px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    z-index: 1;
}
.image-drop-zone.drag-over,
.image-drop-zone:hover{
    border-color: #575353;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(209, 203, 175, 0.75);
    border-radius: 50px;
}

.image-upload-button {
    display: inline-flex;
    padding: 10px;
    color: #3c3a3a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1.2px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    gap: 5px;
}
.image-upload-button:hover {
    cursor: pointer;
    color: rgb(112, 108, 95);
}

#image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#number-of-colors {
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #575353;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    color: #333;
    background-color: rgba(209, 203, 175, 0.75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.generate-palette-text {
    width: 80%;
    margin: 10px;
    text-align: justify;
}

#number-of-colors:focus {
    border-color: #1b1c1f;
    box-shadow: 0 0 8px rgb(51, 51, 51);
    outline: none;
}

#generate-palette-btn {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #c64a2c;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#generate-palette-btn:hover {
    background-color: #9e3e26;
    box-shadow: 0 0 8px rgb(51, 51, 51);
    cursor: pointer;
}


